*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}
.fondo{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.main a{
    color: #141619;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.footer{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: #1b1a1ab7;
}
.listaFoot{
        margin: 5px;
}
.footer a{
    text-decoration: none;
    color: #1b1a1ab7;
}    

@media (max-width: 768px){
    .listaFoot{
        font-size: xx-small;
    }
    .listaFoot li{
        font-size: xx-small;
    }
}
@media (max-width: 500px){
    .tabla{
        display:none;
    }
    .hFoot{
        font-size: x-small;
    }
    .video{
        display: none;
    }
}
@media (min-width: 500px){
    .linkVideo{
        display: none;
    }
}